# Compiled object files
*.o

# Shared libraries
*.so

# Python cache files
__pycache__/

# Setuptools distribution folder
*.egg-info/
dist/

# PyBuilder
build/

# Jupyter Notebook files
*.ipynb

# Data
*.csv
*.parquet

# Weights
*.pth
*.ckpt
*.onnx
*.plan

# Stuff
lightning/demo-feedback-prize/after/.logs/
lightning/demo-feedback-prize/after/.hydra/
lightning/demo-feedback-prize/after/checkpoints/
lightning/demo-feedback-prize/after/outputs/
lightning/demo-feedback-prize/after/wandb/
lightning/demo-feedback-prize/before/outputs
ANN/oos-eval
